body{
  margin: 0;
  background-color: rgba(162, 189, 200, 0.8);
  overflow:hidden;
}
header{
  position: relative;
  height: 15vh;
  width: 100vw;
  border-bottom-style: solid;
  border-bottom-width: 0.25em;
  transition-property: border;
  transition-duration: 2s;
  background-color: rgb(162, 189, 200);
  padding: 2vh;
  padding-left: 20vw;
  top: 0;
}
header:hover{
  border-bottom-width: 0.3em;
}
header div{
  position: absolute;
}
header h1{
  text-decoration: underline;
}

main{
  position: relative;
  margin: auto;
  background-color: rgba(100,0,0,0.1);
  width: 95vw;
  height: 60vw;
  border-style: solid;
  border-top-style: none;
  border-color: rgb(78, 3, 29);
  top: 0vw;
}
main div{
  position: absolute;
}
/*circle*/
.circles{
  border-radius: 50%;
}
#main-circle{
  position: absolute;
  height: 30vw;
  width: 30vw;
  background-color: rgb(187, 72, 72);
  top: 10vh;
  left: 60vw;

  /*this animation will be stopped and altered by circleController.js*/
  animation-name: rotate-right;
  animation-duration: 40s;
}
#main-circle div{
  height: 7.5vw;
  width: 7.5vw;
  background-color: rgb(189, 198, 121);

  animation-name: rotate-left;
  animation-duration: 20s;
}

#main-circle, #main-circle div{
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#main-circle div div{
  height: 2.25vw;
  width: 2.25vw;
  background-color: rgb(64, 65, 245);
}

@keyframes rotate-right {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}
@keyframes rotate-left {
  from{transform: rotate(360deg);}
  to{transform: rotate(0deg);}
}
/*END, circle*/

/*backdrop*/
/* NOTE: note implemented, note in html-element */
#backdrop{
  display: grid;
  position: absolute;
  top: 25vh;
  /*border-style: solid;*/
}
/*END, backdrop*/

/*slides*/
#slides-container{
  border-style: solid;
  width: 60vw;
  height: 50vw;
}
#where-button{
  background-color: red;
  margin-left: 20%; 
}
#slide-content-container div ul li a img{
  height: 10vh;
  transition-duration: 0.5s;
}
#slide-content-container div ul li a img:hover{
  transform: scale(1.05);
}
/*END, slides*/
