/*Color palette: http://www.colourlovers.com/palette/919313/Papua_New_Guinea*/



:root {
  --main-color: LightSeaGreen;  
  --complementary-color: MediumSeaGreen; 
  --bright-color: SeaShell; 
  --text-color: DarkSlateGray;  

  --border-width-standard: 2.5px; 
}

body {
  margin: 0;
  /*background-color: rgb(98, 80, 126);*/
  background-color: var(--main-color);
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive;
  color: var(--text-color); 
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  width: 60vw; 
  margin: auto; 
  margin-top: 2vh; 
  margin-bottom: 2vh; 
  background-color: var(--complementary-color);
  border-style: solid; 
  border-color: var(--text-color); 
  border-width: var(--border-width-standard); 
}
header h1 {
  text-decoration: underline;
}
header h1, header h2{
  margin-left: 4vw;
  margin-top: 2vh;
  text-shadow: 0 0.08em rgb(75, 63, 94);
}

#grid-container {
  display: grid;
  width: 100%;
  border-style: solid;
  border-width: var(--border-width-standard);
  background-color: var(--complementary-color); 
}
#grid-container section {
  text-align: center;
  padding-left: 20px;
  background-color: var(--main-color); 
  margin: auto;
  width: 90%;
  border-style: solid;
  border-color: var(--text-color); 
  border-width: var(--border-width-standard); 
  transition-duration: 0.5s;
  margin-top: 5vh;
}

#grid-container section:hover {
  transform-origin: center;
  transform: scale(1.1);
}
#grid-container section h3 {
  text-decoration: underline;
}
#grid-container section ul {
  margin-right: 50%;
}
#grid-container section ul li {
  transition-duration: 0.25s;
}
#grid-container section ul li:hover {
  transform: scale(1.05);
  border-style: solid; 
  border-width: var(--border-width-standard); 
  text-decoration: underline;
  background-color: var(--bright-color); 
}
#grid-container section ul, #grid-container section h3{
  padding: 0;
  list-style: none;
  text-align: left;
}

/*"back to top"-link*/
#toTop{
  position: fixed;

  width: 10vw;

  top: 85vh;
  left: 85vw;

  border-radius: 30%;
  border-style: solid;
  border-width: var(--border-width-standard); 

  text-align: center;
  margin-top: auto;

  background-color: var(--bright-color); 
  color: var(--main-color); 
  border-color: var(--text-color); 

  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;

  font-size: 2em;
}

@keyframes pulse {
  from{transform: scale(1)}
  to{transform: scale(1.05)}
}

/*Media Queries*/
@media (min-width: 1025px) {
  header {
    width: 40vw; 
    margin-bottom: 4vh; 
    margin-top: 3vh; 
    margin-left: 5.5vw; 
  }
  #grid-container {
    display: grid;
    height: 70vh;
    grid-template-columns: 50vw 50vw;
    align-content: center;
  }
  #grid-container section {
    overflow-y: scroll;
    height: 25vh;
  }
}
