@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Source+Sans+Pro:wght@300&display=swap");

:root {
  --dark: black;
  --white: white;
}

.git-history { 
  font-size: .79em;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-top: 3em;
  padding-bottom: 1em;
  padding-top: 1em;
  position: absolute;
}

body {
  display: block;
  background-color: var(--white);
  color: var(--dark);
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.4;
  width: 80vw;
  position: relative;
}

tr > td { 
  padding-left: 10px;
}

th {
  text-align: left;
  text-decoration: underline;
}

table {
  border: solid 2px;
  margin-bottom: 7.5px;
}



@media screen and (max-width: 920px) {
  body {
    width: 90vw;
    font-size: 16px;
  }
}
