body {
  margin: 0;
  background-color: rgb(98, 80, 126);
  font-size: 1.5em;
  font-family: 'Comfortaa', cursive;
}
a {
  text-decoration: none;
  color: inherit;
}
header h1 {
  text-decoration: underline;
}
header h1, header h2{
  margin-left: 4vw;
  margin-top: 2vh;
  color: rgb(212, 198, 235);
  text-shadow: 0 0.08em rgb(75, 63, 94);
}

#grid-container {
  display: grid;
  width: 100%;
  border-style: solid;
  border-width: 0.15em;
  background-color: rgba(69, 100, 101, 0.5);
}
#grid-container section {
  text-align: center;
  padding-left: 20px;
  background-color: rgb(212, 198, 235);
  margin: auto;
  width: 85%;
  border-style: solid;
  transition-duration: 0.5s;
  margin-top: 5vh;
}

#grid-container section:hover {
  transform-origin: center;
  transform: scale(1.1);
}
#grid-container section h3 {
  text-decoration: underline;
}
#grid-container section ul {
  margin-right: 50%;
}
#grid-container section ul li {
  transition-duration: 0.25s;
}
#grid-container section ul li:hover {
  transform: scale(1.05);
  text-decoration: underline;
}
#grid-container section ul, #grid-container section h3{
  padding: 0;
  list-style: none;
  text-align: left;
}

/*"back to top"-link*/
#toTop{
  position: fixed;

  width: 10vw;

  top: 85vh;
  left: 85vw;

  border-radius: 30%;
  border-style: solid;
  border-width: 0.2vw;

  text-align: center;
  margin-top: auto;

  background-color: rgb(98, 80, 126);

  animation-name: pulse;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;

  font-size: 2em;
}

@keyframes pulse {
  from{transform: scale(1)}
  to{transform: scale(1.05)}
}

/*Media Queries*/
@media (min-width: 1025px) {
  #grid-container {
    display: grid;
    height: 70vh;
    grid-template-columns: 50vw 50vw;
    align-content: center;
  }
  #grid-container section {
    overflow-y: scroll;
    height: 25vh; 
  }
}
